{% extends 'base.html' %} {% block content %}{% load humanize %}
<div class="d-flex justify-content-center">
  <div
    class="card shadow p-3 mb-5 bg-white rounded"
    style="width: 22rem; height: 30rem; margin-top: 1rem"
  >
    {% if post.image %}
    <img
      src="{{post.image.url}}"
      onerror="this.src='media/img/django.jpg'"
      class="img-responsive"
      style="height: 150px"
      alt="post_image"
    />
    {% endif %}
    <hr />
    <div class="card-body">
      <h5 class="card-title">
        <a style="text-decoration: none" href="{% url 'details' post.id %}"
          >{{post.title}}
        </a>
      </h5>
      <p class="card-text">{{post.content}}</p>
      <p class="d-flex justify-content-between">
        <small>
          <span><i class="bi bi-chat-left" aria-hidden="true"></i>{{post.comment_count}}</span>
            <span><i class="bi bi-eye-fill" aria-hidden="true"></i> {{post.postview_count}}</span>
            <span><i class="bi bi-heart" aria-hidden="true"></i> {{post.like_count}}</span>
        </small>
        <small> Posted {{post.published_date | naturaltime}} </small>
      </p>
      <hr />
      {% if request.user == post.author %}
      <a href="{% url 'update' post.id %}"
        ><button class="btn btn-outline-info">UPDATE</button></a
      >
      <a href="{% url 'delete' post.id %}"
        ><button class="btn btn-danger">DELETE</button></a
      >
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}











Send a message to






