{% extends 'base.html' %} {% block content %} {% load humanize %}

<div class="container container1">
  <h1 class="text-center head">Mslm Blog</h1>
  <div class="row row-cols-3 mt-5">
    {% for post in posts %}
    <div class="col shadow-lg rounded-2 ">
      <div
        class="card shadow p-3 mb-5  rounded card2"
        style="width: 18rem; height: 30rem;box-shadow:5px 5px gray;"
      >
        {% if post.image %}
        <img
          src="{{post.image.url}}"
          onerror="this.src='media/img/django.jpg'"
          class="img-responsive"
          style="height: 150px "
          alt="post_image"
        />
        {% endif %}
        <hr />
        <div class="card-body" >
          <h5 class="card-title d-flex justify-content-between">
            <a style="text-decoration: none; color:rgb(95, 71, 6)" href="{% url 'details' post.id %}"
              >{{post.title}}<br><small style="color:black">by</small> {{post.author}}
            </a>
          </h5>
          <div class="content">
            <p class="card-text">{{post.content}}</p>
          </div>
          <p>
            <span><i class="bi bi-chat-left p-1" aria-hidden="true"></i>{{post.comment_count}}</span>
            <span><i class="bi bi-eye-fill p-1" aria-hidden="true"></i> {{post.postview_count}}</span>
            <span><i class="bi bi-heart p-1" aria-hidden="true"></i> {{post.like_count}}</span>
          </p>
          <p class="card-text">
            {% if post.published_date == post.last_updated %}
            <small> Posted {{post.published_date | naturaltime}}</small>
            {% else %}
            <small> Updated {{post.last_updated | naturaltime}}</small>
            {% endif %}
            
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}