{% extends 'users/base.html' %} {% block content %} {% load crispy_forms_tags %}



{% if request.user.is_authenticated %}

<h3>Thanks for registering</h3>
<hr>

{% else %}
<div class="border border-danger">
<h3>Join Today</h3>
<hr>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form_user | crispy }} {{ form_profile | crispy }}
  <button type="submit" class="btn text-primary bg-white border border-primary">Sign Up</button>
</form>
</div>
<hr>
<p>Already have a account? <a href="{{% url 'login' %}">Sign In</a> </p>
{% endif %} {% endblock content %}