{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="p-3 mb-2 bg-light text-dark">
  <div class="mx-auto border" style="width: 80%; padding:2%">
<h2>Join Today</h2>
<hr>

{% if request.user.is_authenticated %}

<h3>Thanks for registering</h3>

{% else %}


<form action="" method="post" enctype="multipart/form-data" >
  {% csrf_token %} {{ form_user | crispy }} {{ form_profile | crispy }}
  <button type="submit" class="btn btn-outline-primary">Sign Up</button>
   
<hr>
<p>Already have a account? <a href="{% url 'user_login' %}">Sign In</a> </p>
</form>
</div>
</div>

{% endif %} {% endblock content %}