{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Please Login</h3>

    <form action="{% url 'user_login' %}" method="post">
      {% csrf_token %} {{form|crispy}}
      <button type="submit " class="btn btn-outline-primary ">Login</button>
      <a href="" class="m-2"><small> Forgot password?</small></a>
    </form>
     <hr>
    <small><p class="text-muted">Need an account? <a href="{% url 'register' %}">Sign Up Now</a></p></small>
  </div>
</div>
{% endblock content %}